.parent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userDetailsContainer {
  border: 1px solid #eee;
  border-radius: 0.3rem;

  width: 1000px;
  height: 600px;
  display: flex;
  align-item: start;
}
